/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #004a7c;
  color: #fff;
  padding: 15px 0; /* Mengurangi padding header agar lebih ramping */
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 15px; /* Mengurangi margin untuk navbar */
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px; /* Mengurangi ukuran font pada navbar */
}

.main-content {
  padding: 15px; /* Mengurangi padding konten utama */
}

.main-content h1 {
  font-size: 18px; /* Mengurangi ukuran font judul utama */
}

.main-content h2,
.main-content h3 {
  font-size: 16px; /* Mengurangi ukuran font judul sekunder */
}

.main-content p {
  font-size: 14px; /* Mengurangi ukuran font paragraf */
}

/* Aturan CSS untuk layar kecil */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  header nav ul li {
    margin-left: 10px;
  }

  header nav ul li a {
    font-size: 12px; /* Mengurangi ukuran font pada navbar untuk layar kecil */
  }

  .main-content {
    padding: 10px; /* Mengurangi padding konten utama untuk layar kecil */
  }

  .main-content h1 {
    font-size: 16px; /* Mengurangi ukuran font judul utama untuk layar kecil */
  }

  .main-content h2,
  .main-content h3 {
    font-size: 14px; /* Mengurangi ukuran font judul sekunder untuk layar kecil */
  }

  .main-content p {
    font-size: 12px; /* Mengurangi ukuran font paragraf untuk layar kecil */
  }
}

/* Style untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #004a7c;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
